<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/homePage.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo"><img src="/images/logo2.png" alt="logo"></div>
        <nav>
            <a href="/pets">Home</a>
            <a href="/pets/addPet">Add Pet</a>
            <a href="/pets/gallery">Meet Our Pets</a>
        </nav>
    </header>

    <div class="container">
        <div class="mainLogo">
            <img src="/images/logo2.png" alt="Logo">
        </div>
    
        <div class="aboutUs">
            <h2>Welcome to Furever Friends!</h2>
            <p>At Furever Friends, we believe every animal deserves a loving home. Our platform connects devoted pet lovers with amazing animals looking for a forever family. Whether you're hoping to adopt a furry companion or provide a rescue with a fresh start, we’re here to help you make the perfect match.</p>
            <br>
            <p>Browse our profiles of adorable pets waiting to meet their new family, and start the journey to find your new best friend today!</p>
        </div>
    
        <h2>What Our Adopters Say</h2>

        <div class="testimonials">
            <div class="testimonial">
                <img src="/images/Testimonial1.jpg" alt="Testimonial 1">
                <h2><b>Emily R.</b></h2>
                <p>"Adopting my dog through Furever Friends was an amazing experience. The process was so easy, and I’m grateful to have found my new best friend. I can’t imagine life without her now!"</p>
            </div>
    
            <div class="testimonial">
                <img src="/images/Testimonial2.jpg" alt="Testimonial 2">
                <h2><b>The Thompson Family</b></h2>
                <p>"Our daughter had been asking for a pet for years, and Furever Friends helped us find the perfect match. From the warm welcome to the support we received, it’s clear they care deeply about every pet finding the right family. Our new puppy has brought so much joy and love into our home."</p>
            </div>
    
            <div class="testimonial">
                <img src="/images/Testimonial3.jpg" alt="Testimonial 3">
                <h2><b>James T.</b></h2>
                <p>"I adopted a senior dog, and the process was seamless. I love that Furever Friends helps animals of all ages find loving homes. My dog has made my life richer, and I couldn’t be happier!"</p>
            </div>
        </div>
    </div>
    <footer>
        <form method="POST" action="/pets/">
            <button>Logout</button>
            <div class="footer-bottom">
                <p>&copy; 2024 Furever Friends. All rights reserved.</p>
            </div>
        </form>
    </footer>
</body>
</html>