* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url(./images/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container {
    background-color: #ffffff;
    padding: 2rem;
    margin: 4rem;
    box-shadow: -10px 10px 10px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 20rem;
    text-align: center;
    a {
        color: black;
        font-size: 0.8rem;
    }
}

h2 {
    margin-bottom: 1rem;
    color: #333333;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
    font-size: 1rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #F3F3F3;
    border: 1px #BCBCBC solid;
}

button {
    width: 50%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    background-color: #FF9F1C;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d88818;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    width: 80%;
}

.gallery .items {
    background-color: rgb(255, 255, 255);
    box-shadow: -10px 10px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex: 30%;
    margin: 20px;
    width: 25%;
}

.items img {
    width: 100%;
    margin-bottom: 1rem;
}

.gallery hr {
    border: 2.5px #FF9F1C solid;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.items p {
    text-align: left;
}

@media (max-width: 800px) {
    .items {
      flex: 40%;
    }
}